@import url(./Menu/style/navbar-style.css);


.beranda {
    background: #fff url(./Img/markus-winkler-ahjzVINkuCs-unsplash.jpg ) top/cover no-repeat;
    background-position-x: 256px;
    background-position-y: -63px;
    background-size: 65em;
}

.beranda-konten {
    min-height: 100vh;
    background-color: var(--navy-teal);
    color: #fff;
    margin: auto 0;
    text-align: left;
    width: 53%;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    justify-content: flex-end;
}

.beranda-konten h1 {
    font-size: 45px;
    text-transform: capitalize;
    margin: auto 1em 4em;
    color: #fff;
    line-height: 60px;
}

.beranda-konten span {
    font-size: 25px;
    font-weight: lighter;
}

.beranda-konten-logo {
    border-top: 2px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
}

.beranda-konten-logo p {
    font-size: 18px;
}

.beranda-konten-logo div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    margin-left: 2em;
}

.beranda-konten-logo img {
    width: 10%;
    margin-right: .5em;
}

.beranda-konten-logo h2 {
    color: #fff;
    font-size: 20px;
    font-family: 'Righteous', cursive;
}

.tentang-website {
    min-height: 100vh;
    display: grid;
    position: relative;
    background: #fff url(./Img/mjh-shikder-lVO32mAzRFc-unsplash.jpg) center top/cover no-repeat;
    background-position-y: -80px;
}

.deskripsi-web {
    width: 42%;
    margin: auto;
    color: #fff;
    padding: 0 0 0 2em;
}

.deskripsi-web h1 {
    font-size: 45px;
    margin-left: .4em;
}

.deskripsi-web p {
    font-size: 20px;
    margin: 2em 1em;
    line-height: 1.3em;
    text-indent: 2.5em;
}


.fungsi {
    min-height: 100vh;
    display: flex;
    color: var(--navy-teal);
    position: relative;
    border-bottom: 3px solid var(--navy-teal);
}

.fungsi-img {
    width: 60%;
    position: relative;
    background-color: var(--navy-teal);
}

.fungsi-img::before {
    position: absolute;
    content: "";
    top: 10%;
    left: 44%;
    width: 124px;
    height: 124px;
    background-color: var(--teal-cold);
    z-index: 7;
    border-radius: 100px;
}

.fungsi-img::after {
    position: absolute;
    content: "";
    bottom: 20%;
    left: 32%;
    width: 124px;
    height: 124px;
    background-color: var(--gradient-sea);
    z-index: 7;
}

.fungsi-img img {
    width: 50%;
    margin: 7em 2em;
    box-shadow: 9px 9px 10px -5px #000;
    border-radius: 10px;
}

.img-satu {
    z-index: 9;
    position: absolute;
}


.img-dua {
    position: absolute;
    top: 160px;
    right: 22px;
    z-index: 8;
}

.des-fungsi {
    width: 70%;
    min-height: 100vh;
    padding: 5em;
    display: grid;
    justify-items: center;
    align-content: center;
}

.des-fungsi h1 {
    font-size: 45px;
    margin: auto auto .5em;
}

.des-fungsi p {
    /* margin: 2em auto; */
    margin: 1em auto;
    font-size: 18px;
    text-indent: 3em;
    line-height: 25px;
}

.keuntungan {
    min-height: 100vh;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5em;
    background-color: var(--gradient-sea);
}

.des-keuntungan {
    margin: auto 1em;
    padding-right: 1em;
    color: var(--dark-black);
}

.des-keuntungan h1 {
    font-size: 45px;
    margin-bottom: 1em;
}

.des-keuntungan ul {
    margin: 0 0 0 2em;
    padding: 0;
    grid-gap: 1.5rem;
    display: grid;
    justify-content: center;
}

.des-keuntungan li {
    margin-right: 3em;
    font-size: 1.5rem;
    line-height: 1.25;
    padding-left: 0.5em;

}

.keuntungan li::marker {
    content: "✔";
    font-size: 30px;
}


.keuntungan-img {
    width: 50%;
    position: relative;
    text-align: center;
    margin: auto 1em;
}

.keuntungan-img::before {
    content: "";
    position: absolute;
    width: 140px;
    height: 140px;
    top: -100px;
    right: 45%;
    border-radius: 50%;
    background-color: #ddd;
}

.keuntungan-img::after {
    position: absolute;
    content: "";
    width: 65%;
    height: 10px;
    left: 16%;
    bottom: -108px;
    z-index: 99;
    background-color: black;
    filter: blur(20px);
}

.keuntungan-img img {
    width: 80%;
    transform: rotateZ(45deg);
    margin: auto;
}

.berita {
    display: flex;
    min-height: 100vh;
    color: #fff;
    background-color: #ddd;
}

.berita-konten {
    width: 50%;
    background-color: var(--navy-teal);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 2em;
}

.berita-konten h1 {
    margin-bottom: .5em;
}

.deskripsi-berita h1 {
    font-size: 45px;
}

.kotak-berita {
    display: flex;
    background-color: #e6e6e6;
    border-radius: 5px;
    margin: .5em auto;
}

.kotak-berita #image {
    width: 30%;
    writing-mode: vertical-lr;
}

.kotak-berita #image img {
    width: 100%;
    border-radius: 5px 0 0 5px;
}

.kotak-berita #deskripsi {
    color: #000;
    margin: auto;
    padding: 1em;
}

.berita .image {
    width: 50%;
    margin: auto;
    text-align: center;
}

.berita .image img {
    width: 80%;
    border-radius: 10px;
    box-shadow: 3px 3px 7px -1px black;
}

.berita-button {
    text-align: center;
    margin: 1em auto 0;
}

.berita-button button {
    padding: 1em 1.2em;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    background-color: #F7F7F7;
}

.berita-button button:hover {
    background-color: #000;
    color: #FFF;
}

footer {
    background-color: var(--gradient-sea);
    padding: 5em 0 0;
}

.support {
    text-align: center;
}

.support h1 {
    font-size: 30px;
}

.support span {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 1em;
}

.support span p {
    margin: auto 1.2em;
}

.media-sosial {
    text-align: center;
    margin: 3em auto;
}

.media-sosial img {
    width: 3%;
    margin: 1em;
}

.creator h1 {
    font-size: 30px;
}

.creator h5 {
    font-size: 20px;
    margin: 1em;
}

.sosial-media {
    display: flex;
    margin-bottom: 4em;
}

.sosial-media p {
    margin: auto 1em;
}

.close {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
    padding: 1em;
    border-top: 3px solid #000;
}

.close span,
.close span a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.close span img,
.close span a img {
    width: 20%;
    margin: auto .5em;
}


@media screen and (max-width:500px) {

    .fungsi-img,
    .keuntungan-img,
    .berita .image {
        display: none;
    }

    .beranda-konten,
    .beranda-konten-logo div,
    .deskripsi-web,
    .deskripsi,
    .des-fungsi,
    .berita-konten {
        width: 100%;
    }


    .beranda-konten-logo,
    .support span,
    .close {
        flex-direction: column;
    }

    .beranda-konten-logo div,
    .deskripsi {
        justify-content: center;
    }

    .support span p {
        font-size: 18px;
    }

    .beranda-konten-logo p,
    .des-keuntungan li::marker,
    .deskripsi-berita p,
    .close {
        font-size: 20px;
    }

    .beranda-konten-logo h2,
    .support h1,
    .media-sosial h1 {
        font-size: 25px;
    }

    .deskripsi-web h1,
    .des-keuntungan li {
        margin: 0;
    }

    .beranda-konten-logo div,
    .creator,
    .close span {
        margin: 1em auto;
    }

    .deskripsi-web p,
    .deskripsi-berita,
    .berita-button {
        margin: 2em auto;
    }

    .deskripsi-web,
    .des-fungsi,
    .des-keuntungan {
        padding: 0;
    }

    .tentang-website,
    .fungsi,
    .deskripsi {
        padding: 1.5em;
    }

    .beranda {
        background: none;
    }

    .beranda-konten h1 {
        font-size: 35px;
        margin: auto;
        padding: 0 1em;
        text-align: center;
    }

    .tentang-website {
        background-position-y: top;
    }


    .keuntungan {
        padding: 0 1.5em;
    }

    .des-keuntungan {
        margin: auto;
    }

    #deskripsi h3,
    #deskripsi p {
        font-size: 11px;
    }

    .support span p {
        margin: 0.5em;
    }

    .media-sosial img {
        width: 10%;
    }
}