@import url(./navbar-style.css);



main {
    display: flex;
    padding: 1em 2em;
}

.berita-terbaru {
    width: 80%;
    /* border: 0.5px solid black; */
    border-radius: 5px;
    margin: 1em auto 0;
    padding: 1em 0;
}

.top {
    margin: 0 1em 1em;
}

.berita {
    border-bottom: .5px solid black;
    display: flex;
    padding: 1em;
}

.berita-image {
    width: 30%;
}

.berita-image img {
    width: 100%;
    margin: auto;
    border-radius: 5px;
}

.berita-data {
    width: 70%;
    margin-left: 1.5em;
}

.title {
    text-transform: capitalize;
}

.content {
    margin: 1em 0;
    font-size: 16px;
}

.penulis,
.tanggal {
    font-size: 15px;
    opacity: .6;
    margin-bottom: 0;
}


.penunjang {
    width: 20%;
    position: sticky;
    padding: 1em;
    top: 4em;
    z-index: 99;
    height: max-content;
    margin: 1em 0 1em 1em;
    border-radius: 5px;
    background-color: var(--teal-cold);
    color: var(--navy-teal);
}

.kalender,
.waktu,
.kontributor {
    margin-bottom: 1em;
}

.kalender h4,
.waktu h4,
.kontributor h4 {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.kalender img,
.kontributor img {
    width: 10%;
    margin-right: .5em;
}

.bulan-hari {
    display: flex;
    justify-content: space-between;
    margin: 1em auto;
}

.tanggal-box {
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 14px 14px 14px 14px 14px 14px 14px;
    column-gap: 15px;
    row-gap: 15px;
}


.kontributor {
    padding-top: 1em;
    border-top: 2px solid var(--navy-teal);
}

.kontributor img {
    width: 10%;
}


@media screen and (max-width:500px) {

    .berita-terbaru,
    .berita-image,
    .berita-data,
    .penunjang {
        width: auto;
    }

    .penunjang {
        margin: 0;
    }

    main {
        flex-direction: column-reverse;
        padding: 2em;
    }

    .berita {
        flex-direction: column;
    }

    .top {
        margin: 3em auto 1em;
    }

    .berita-data {
        padding: 1em .5em;
        margin: auto;
    }

    .penunjang {
        position: static;
        z-index: auto;
    }
}