@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-black: #2C3333;
    --navy-teal: #395B64;
    --teal-cold: #A5C9CA;
    --gradient-sea: #f1faf8;
}

body {
    font-family: 'Maven Pro', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

li {
    list-style: none;
}

nav {
    padding: .7em;
    font-size: 18px;
    position: sticky;
    top: 0;
    z-index: 99;
    text-align: center;
    background-color: var(--navy-teal);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    margin: auto 1.5em;
    font-family: 'Righteous', cursive;
    color: #fff;
}

.logo img {
    width: 10%;
    margin-right: 1em;
}

.nav-menu {
    display: flex;
}

.button-menu {
    display: none;
    border: none;
    background-color: transparent;
}

.button-menu img {
    width: 20%;
}

.menu-link {
    margin: auto 2em;
    font-size: 16px;
    position: relative;
    color: #fff;
}

.menu-link::before {
    position: absolute;
    content: "";
    height: 2px;
    bottom: -5px;
    background: #fff;
    left: 0;
    width: 0;
    transition: width .5s;
}

.menu-link:hover::before {
    width: 100%;
}

.navbar-scroll {
    box-shadow: 0 0 10px rgb(125, 125, 125);
}

.navbar-scroll,
.navbar-scroll a {
    background-color: var(--dark-black);
    color: #fff;
}

.report {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-right: 1em;
    background-color: red;
    border: none;
    padding: 0.4em 0;
    border-radius: 10px;
    cursor: pointer;
}

.report img {
    width: 18%;
    margin-right: .3em;
}