@import url(./navbar-style.css);


.layanan-surat-ijin,
.layanan-pembaruan-ktp {
    text-align: center;
    padding: 3em 0;
}


.layanan-surat-ijin h1,
.layanan-pembaruan-ktp h1 {
    margin-bottom: .5em;
}

.deskripsi {
    padding: 0 10em;
    font-size: 18px;
}

.status {
    position: relative;
    max-width: fit-content;
    text-align: center;
    padding: 0.5em;
    margin: 1em auto 2em;
    font-size: 13px;
    border-radius: 5px;
    font-weight: bold;
}

.on {

    color: #16a34a;
    background-color: #dcfce7;
}

.off {
    color: #dc2626;
    background-color: #fee2e2;

}

.btn-syarat,
.btn-perbarui {
    border: none;
    background-color: #000;
    padding: .8em 2em;
    color: #fff;
    border-radius: 5px;
    border: 2px solid black;
}

.btn-syarat:hover,
.btn-perbarui:hover {
    color: #000;
    background-color: #fff;
    border: 2px solid black;
}

.keuntungan {
    width: 30%;
}

.keuntungan h3 {
    font-size: 30px;
}

.keuntungan li {
    margin: .8em auto;
}

.layanan-cek-ktp {
    padding: 3em;
    text-align: center;
    background-color: #eeeeee;

}

.layanan-cek-ktp h1 {
    margin: 1em;
}

.layanan-cek-ktp p {
    font-size: 18px;
    margin: auto 10em 2em;
}

.layanan-cek-ktp button {
    border: none;
    background-color: #000;
    padding: .8em 2em;
    color: #fff;
    border-radius: 5px;
    border: 2px solid black;
}

.layanan-cek-ktp button:hover {
    color: #000;
    background-color: #fff;
    border: 2px solid black;
}

.layanan-sosial-media {
    background-color: #eeeeee;
    padding: 3em 0;
    text-align: center;
}

.layanan-sosial-media ul {
    margin: 2em;
}

.layanan-sosial-media li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em auto;
    font-size: 18px;
}

.layanan-sosial-media img {
    margin-right: 1em;
}










.container-two {
    margin: 1em;
    border-radius: 5px;
}

header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 1em;
}

.back-main {
    padding: .5em;
    border: none;
    border-radius: 10px;
    background-color: var(--teal-cold);
    /* background: transparent; */
    font-size: 20px;
}

.back-main img {
    width: 15%;
}

.container-two header h1 {
    width: 90%;
    align-self: center;
}

.container-two h2 img {
    width: 2%;
    margin-right: .5em;
}

.ketentuan h2,
.procedure h2,
.minta-surat h2 {
    text-transform: capitalize;
    font-size: 25px;
    margin: 1em auto;
}

.ketentuan {
    background-color: var(--gradient-sea);
    padding: .5em 3em 2em;
}

.ketentuan ul {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    column-gap: 30px;
    justify-content: center;
}

.ketentuan li {
    /* border: 1px solid black; */
    box-shadow: 2px 2px 5px rgb(193, 193, 193);
    background-color: #fff;
}

.ketentuan-img {
    width: 50%;
    padding: .3em;
    text-align: center;
    background-color: var(--teal-cold);
}

.ketentuan h3,
.ketentuan p {
    margin: 1em;
}

.procedure {
    padding: 1em 3em;
}


.procedure li {
    margin: 1em 0;
    border-bottom: .5px solid black;
    padding: 1em;
    list-style: auto;
    font-size: 18px;
}


.minta-surat {
    background-color: var(--gradient-sea);
    padding: 2em 3em;
}


.minta-surat form {
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    width: 80%;
}

.minta-surat h3 {
    padding: 1em;
    border-bottom: 1px solid #000;
    text-align: center;
}

.minta-surat form div {
    margin-top: 1em;
    padding: 1em;
    /* border-top: 1px solid #000; */
    /* border-bottom: 1px solid #000; */
}

.minta-surat input,
.minta-surat select {
    margin-top: .7em;
}

.minta-surat input[type="text"] {
    width: 100%;
    padding: .3em .6em;
}

.minta-surat span {
    margin: auto 1em;
}

.minta-surat select,
.minta-surat input[type="date"] {
    padding: 0.5em;
}

.btn-ajukan {
    text-align: end;
}

.btn-ajukan button {
    /* border: none; */
    border-radius: 5px;
    padding: .7em 1.2em;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
}

.btn-ajukan button:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

.container-three {
    margin: 1em;
    /* border: 3px solid rgb(225, 225, 225); */
    border-radius: 5px;
    /* display: none; */
}

.container-three header h1 {
    width: 90%;
    align-self: center;
}

.cari-data {
    text-align: center;
    margin: 5em auto;
}

.cari-data h2 {
    margin-bottom: 1em;
}

.cari-data input,
.cari-data button {
    border: none;
    padding: .5em .7em;
    border-radius: 5px;
}

.cari-data input {
    width: 50%;
    background-color: var(--gradient-sea);
}

.tampil-data {
    width: 50%;
    background-color: var(--teal-cold);
    margin: 0 auto 1em;
    padding: 1em;
    text-align: center;
}

.tampil-data h2 {
    border-bottom: 1px solid #000;
    padding: 1em;
    margin-bottom: 2em;
}

.tampil-data p {
    margin: 1em 0;
    font-size: 16px;
}




@media screen and (max-width:500px) {

    .layanan-surat-ijin,
    .layanan-cek-ktp,
    .layanan-pembaruan-ktp {
        padding: 3em 1.5em;
    }

    .deskripsi {
        padding: 0;
    }

    .layanan-cek-ktp p {
        margin: 2em auto;
    }

    /* buat-ktp */
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .ketentuan {
        padding: 1em;
    }

    .ketentuan h2,
    .procedure h2,
    .minta-surat h2 {
        text-align: center;
    }

    .ketentuan ul {
        display: block;
        width: 100%;
    }

    .ketentuan li {
        min-height: 25vh;
        margin: 1em auto;
    }

    .procedure {
        padding: 1em;
    }

    .procedure ul {
        padding-left: 2em;
    }

    .minta-surat {
        padding: 2em 0;
    }

    .jenis-kelamin,
    .kewarganegaraan-pendaftar,
    .status-pendaftar {
        display: flex;
        flex-direction: column;
    }

    /* cek-ktp */
    .tampil-data {
        width: auto;
        margin: 1em;
    }
}