@import url(./navbar-style.css);



.container-proses {
    padding: 3em 0;
    text-align: center;
}

.container-proses h1 {
    margin-bottom: .5em;
    text-transform: capitalize;
}

.deskripsi {
    margin-bottom: 3em;
}

.proses-box {
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: center;
    column-gap: 10px;
}

.proses {
    background-color: var(--teal-cold);
    /* color: var(--gradient-sea); */
    padding: 1em;
    border-radius: 5px;
}

.proses img {
    width: 15%;
    margin-bottom: 1em;
}

.proses h3 {
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 1em;
}

.proses p {
    text-align: left;
}

.pertanyaan-ulang {
    padding: 3em 0;
    /* background-color: var(--navy-teal); */
    /* color: var(--gradient-sea); */
    background-color: var(--teal-cold);
}

.pertanyaan-ulang h1 {
    text-align: center;
    margin-bottom: 1.5em;
    text-transform: capitalize;
}

.pertanyaan-ulang ul {
    margin: auto 3em;
}

.pertanyaan-ulang li {
    border-bottom: 0.5px solid var(--navy-teal);
    /* display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between; */
    padding: .5em 0;
    display: grid;
    grid-template-columns: 95% 5%;
    align-items: center;
}

.text {
    margin-right: 1em;
}

.text h3 {
    font-size: 20px;
    margin-bottom: .6em;
}

.text p {
    display: none;
}

.hide button {
    padding: .5em;
    background-color: var(--teal-cold);
}

.hide img {
    /* width: 90%; */
    width: 50%;
    /* keatas */
    /* transform: rotateZ(180deg); */
    /* kebawah */
    transform: rotateZ(360deg);
}

.pertanyaan {
    padding: 2em;
}

.pertanyaan h1 {
    font-size: 50px;
    margin-bottom: .5em;
}

.kolom-pertanyaan {
    text-align: center;
    padding: 3em 0;
}

.kolom-pertanyaan h1,
.kolom-pertanyaan p {
    margin-bottom: 1em;
}

.kolom-pertanyaan p {
    font-size: 20px;
}

.media {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    margin: 5em auto;
}

.media button {
    padding: .5em;
    margin: 0 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: 18px;
    border-bottom: 1px solid #000;
    cursor: pointer;
}

.media img {
    margin-right: .5em;
    width: 100%;
}

.media span {
    display: none;
}

.media button:hover span {
    display: block;
}

.form-pertanyaan p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-pertanyaan img {
    width: 3%;
}

.kolom-pertanyaan form {
    padding: 1em;
    background-color: var(--teal-cold);
    border-radius: 10px;
    width: 60%;
    margin: auto;
    text-align: left;
}

.email,
.nama,
.subjek,
.textarea,
.button-send {
    margin: 1em;
}

input,
textarea,
button {
    border: none;
}

input,
select,
textarea {
    width: 100%;
    padding: .5em;
    margin: .7em auto;
}

.button-send {
    text-align: end;
}

.button-send button {
    padding: 1em;
    background-color: #fff;
}


@media screen and (max-width:500px) {

    .container-proses,
    .pertanyaan-ulang,
    .kolom-pertanyaan {
        padding: 3em 1.5em;
    }

    .proses-box {
        display: block;
    }

    .proses {
        margin: 1em auto;
    }

    .pertanyaan-ulang ul {
        margin: auto;
    }

    .pertanyaan-ulang li {
        flex-direction: column;
    }

    .media button {
        margin: auto;
    }

    .form-pertanyaan img {
        width: 15%;
    }

    .kolom-pertanyaan form {
        width: auto;
    }

}