@import url(./navbar-style.css);

.container {
    margin: 1em;
    border: 1px solid black;
}

header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    border-bottom: 3px solid rgb(225, 225, 225);
    padding: 1em;
}

.back-main {
    padding: .5em;
    border: none;
    background: transparent;
    font-size: 20px;
}

.back-main img {
    width: 15%;
}

.berita {
    padding: 1em;
}

.konten-berita {
    display: flex;
    justify-content: space-between;
}

.img-berita {
    width: 30%;
    text-align: center;
}

.img-berita img {
    width: 100%;
}

.img-berita p {

    background-color: #f3f4f6;
}

.data-berita {
    padding-top: .5em;
    width: max-content;
    height: max-content;
    border-radius: 10px;
    background-color: #f3f4f6;
}

.data-berita p {
    margin: 1em;
}

.data-berita span {
    border-radius: 0 0 10px 10px;
    display: flex;
    background-color: #e2e8f0;
    padding: .7em;
}

.berita h1 {
    text-align: center;
    font-size: 40px;
    margin: 2em auto 1em;
}

.berita p {
    font-size: 18px;
    line-height: 30px;
    /* text-indent: 200px; */
}

@media screen and (max-width:500px) {
    .konten-berita {
        flex-direction: column;
        align-items: center;
    }

    .data-berita {
        width: 100%;
    }

    .img-berita {
        width: auto;
        margin-top: 1em;
    }
}